.header {
  z-index: 2;
  position: relative;
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
}

.nav {
  display: none;
  @media (--t) {
    display: flex;
    justify-content: center;
  }
}

.console {
  display: none;
  @media (--t) {
    display: flex;
    justify-content: flex-end;
    font-weight: var(--fw-medium);
  }
}

.switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (--t) {
    display: none;
  }
}

.switchButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
