.link {
  display: inline-flex;
  align-items: center;

  &:hover,
  &:focus {
    color: var(--c-text);
    text-decoration: underline;
    text-decoration-color: var(--c-text-light);
  }

  &.primary {
    color: var(--c-primary);
  }

  &.external {
  }

  svg {
    opacity: 0.6;
  }
}
