.box {
  display: grid;
  place-items: center;
  grid-gap: 16px;
  padding: 24px;
  background-color: var(--c-text);
  color: var(--c-bg);
  border-radius: var(--radius-m);
  box-shadow: var(--c-box-shadow);

  &.next {
    background-color: #fff;
  }
  &.aws {
    background-color: #ffe8d3;
    color: #7b512d;
  }
  &.redis {
    background-color: #ffdada;
    color: #791514;
  }
}
