.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  height: var(--finger);
  font-weight: var(--fw-medium);
  padding-left: 32px;
  padding-right: 32px;
  min-width: var(--finger);
  color: var(--c-bg);
  background: var(--c-text);
  border-radius: var(--radius);
  transition: var(--fade);

  &:disabled {
    opacity: 0.5;
  }
}

.primary {
  background: var(--c-primary);
}
