.bg {
  z-index: -1;
  position: absolute;
  left: calc(50% - 1200px / 2);
  top: 0;
  width: 1200px;
  height: 800px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  border-radius: 100%;

  @media (--t) {
    left: calc(50% - 2400px / 2);
    width: 2400px;
    height: 1300px;
  }
}
