.post > * {
  @apply mb-10;
}

.post b,
.post strong {
  @apply font-semibold;
}

.post a {
  @apply text-emerald-400 hover:underline;
}

.post blockquote {
  @apply bg-red-200 p-4;
}

.post ul {
  @apply list-inside list-disc space-y-2 marker:text-zinc-400;
}

.post ol {
  @apply list-inside list-decimal space-y-2 marker:text-zinc-400;
}

.post hr {
  @apply my-10 border-b border-zinc-900 md:my-20;
}

.post table tr {
  @apply border-t;
}

.post table th {
  @apply whitespace-nowrap border px-2 py-2 font-semibold;
}

.post table td {
  @apply border px-2 py-2;
}

.post code:not(pre > code) {
  @apply rounded border border-white/5
    bg-emerald-100/10 px-1 py-0.5 text-[0.86em];
}

.post .subheading-anchor {
  @apply order-1 ml-4 opacity-0 after:content-['#'];
}

.post h2 {
  @apply text-2xl md:mt-16 md:text-4xl;
}

.post h3 {
  @apply text-xl md:text-2xl;
}

.post h4 {
  @apply text-lg md:text-xl;
}

.post :where(h2, h3, h4) {
  @apply mb-6 flex font-display font-semibold;
  scroll-margin-top: 2rem;
}

.post :where(h2, h3, h4):hover .subheading-anchor {
  @apply opacity-60;
}

/* code */

[data-rehype-pretty-code-fragment] {
  @apply relative rounded-xl bg-white/[0.04] text-sm;
}

/* code pre */

[data-rehype-pretty-code-fragment] pre {
  @apply overflow-x-auto py-4;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply inline-block px-6 py-1;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  @apply mr-6 inline-block w-5 select-none text-right text-white/10;
  counter-increment: line;
  content: counter(line);
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-emerald-200/5 border-l-4 border-emerald-800;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-slate-300 bg-opacity-10 p-1;
}

/* code title */

[data-rehype-pretty-code-title] {
  @apply mt-4 border-b border-b-white/5 px-6 py-3 text-white/60;
}

[data-rehype-pretty-code-title] + pre {
  @apply rounded-t-none;
}
