@media (prefers-color-scheme: dark) {
  [data-rehype-pretty-code-fragment] > [data-theme="light"] {
    display: none;
  }
}
@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  [data-rehype-pretty-code-fragment] > [data-theme="dark"] {
    display: none;
  }
}

/* - */

[data-rehype-pretty-code-fragment] {
  @apply relative rounded-xl bg-emerald-900/5 text-sm dark:bg-white/5;
}

[data-rehype-pretty-code-fragment] pre {
  @apply overflow-x-auto py-4;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply inline-block px-6 py-1;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  @apply mr-6 inline-block w-5 select-none text-right text-white/10;
  counter-increment: line;
  content: counter(line);
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply border-l-4 border-emerald-800 bg-emerald-200/5 dark:border-emerald-800 dark:bg-emerald-200/5;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-slate-300 bg-opacity-10 p-1;
}

/* code title */

[data-rehype-pretty-code-title] {
  @apply border-b border-b-emerald-950/10 px-6 py-3 text-emerald-900/80 dark:border-b-white/3 dark:text-white/60;
}

[data-rehype-pretty-code-title] + pre {
  @apply rounded-t-none;
}
