@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  select {
    @apply appearance-none bg-no-repeat !pr-12;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.6rem center;
    background-size: 1.5em 1.5em;
  }
}

@keyframes animate-slide {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

@layer components {
  .mini-table :where(th,td) {
    @apply px-2 py-1 border border-zinc-800;
  }
}
