.header {
}

.number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--demo-bubble-size);
  height: var(--demo-bubble-size);
  color: var(--c-bg);
  background: var(--c-text);
  border-radius: 99px;
  font-size: 24px;
  font-weight: var(--fw-black);
}

.title {
  margin-top: 8px;
}

.desc {
  margin-top: 8px;
}
