.step1 {

}

.form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 460px;
  padding: 32px;
  border-radius: var(--radius-m);
  background-color: var(--c-bg-light);
}

.loggedIn {
}

.loggedInUser {
  display: inline-flex;
  align-items: center;
  border-radius: 99px;
  background-color: var(--c-bg-10);
  padding: 10px 24px 10px 10px;

  img {
    margin-right: 8px;
    border-radius: 99px;
  }
}

.loggedInButton {
}

.result {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 460px;
  padding: 32px;
  border-radius: var(--radius-m);
  background: var(--c-bg-light);
}
