.section {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 60px;

  @media (--t) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.mobileTable {
  @media (--t) {
    display: none;
  }
}

.desktopTable {
  display: none;

  @media (--t) {
    --gap: 0;
    display: grid;
  }
}
