.col {
  padding: 16px;
  @media (--t) {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.colHighlight {
  background-color: var(--c-bg-light);
}

.colHead {
  border-radius: 16px 16px 0 0;
}

.colFooter {
  border-radius: 0 0 16px 16px;
}

.colTitle {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--c-text-light);
  margin-bottom: 4px;

  @media (--t) {
    display: none;
  }
}

.colIcon {
  font-size: 24px;
}

.colIconCheck {
  color: var(--c-success);
}

.colIconUnCheck {
  color: var(--c-text-light);
}
