/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 */

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  color: #e4e4e7;
  font-size: 1em;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

/* Code blocks */
pre[class*="language-"] {
  margin: 0.5em 0;
  overflow: auto;
  padding: 1em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #e4e4e7;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: 0.3em;
  padding: 0.1em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #ffffff50;
}

.token.punctuation {
  color: #ffffff;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #ffffff;
}

.token.function-name {
  color: #ffffff;
}

.token.boolean,
.token.number,
.token.function {
  color: #ffffff;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #ffffff;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #fff;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #34d399;
}

.token.operator,
.token.entity,
.token.url {
  color: #ffffff;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: #34d399;
}

/* Language-specific */

.code-redis .token.string,
.code-redis .token.char,
.code-redis .token.attr-value,
.code-redis .token.regex,
.code-redis .token.variable {
  color: #fca5a5;
}

.code-vector .token.string,
.code-vector .token.char,
.code-vector .token.attr-value,
.code-vector .token.regex,
.code-vector .token.variable {
  color: #fdba74;
}

.code-qstash .token.string,
.code-qstash .token.char,
.code-qstash .token.attr-value,
.code-qstash .token.regex,
.code-qstash .token.variable {
  color: #93c5fd;
}

.code-workflow .token.string,
.code-workflow .token.char,
.code-workflow .token.attr-value,
.code-workflow .token.regex,
.code-workflow .token.variable {
  color: #d8b4fe;
}
