.footer {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (--t) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.logo {
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social > * + * {
  margin-left: 16px;
}

.links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media (--t) {
    flex-direction: row;
  }
}

.links > * + * {
  margin-top: 16px;
  @media (--t) {
    margin-top: 0;
    margin-left: 24px;
  }
}
