.accordion {
}

.item {
  position: relative;
  cursor: pointer;
  padding: 24px;

  @media (--t) {
    padding: 32px;
  }

  :global(.collapse) {
    display: none;
  }
}

.item:before,
.item:last-child:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.05);

  @media (--t) {
    left: 20%;
    right: 20%;
  }
}

.item:first-child:before {
  display: none;
}
.item:last-child:after {
  bottom: 0;
}

.active {
  cursor: default;
  background-color: var(--c-bg-light);
  border-radius: var(--radius-m);
  box-shadow: var(--c-box-shadow);

  :global(.collapse) {
    display: block;
  }
}

.active:before,
.active:after,
.active + .item:before {
  display: none;
}

.header {
}

.collapse {
  color: var(--c-text-light);
}
