.section {
  position: relative;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 60px;
  @media (--t) {
    padding-top: 100px;
    padding-bottom: 140px;
  }
}

.trademark {
  font-size: 18pt;
  vertical-align: text-top;
}

.alt {
  margin-top: 24px;
  color: var(--c-text-light);
}

.alt2 {
  display: none;
  @media (--t) {
    display: block;
  }
}

.cta {
  margin-top: 40px;
}
