.Cursor {
  font-size: 0.84em;
  font-weight: 500;
}

@keyframes online {
  from {
    opacity: 0;
  }
}

.post-headings {
  z-index: 9;
  position: fixed;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  padding: 1rem;
  background-color: rgb(255 255 255 / 10%);
  border-radius: 1rem;
}


.post-headings:hover {
  background-color: #555;
}

.post-headings-link {
  padding: 5px 0;
}

.post-headings-link-dot {
  font-size: 8px;
  width: 1em;
  height: 1em;
  border-radius: 99em;
  background-color: rgb(255 255 255 / 40%);
}

.post-headings:hover .post-headings-link-dot {
  background-color: rgb(255 255 255 / 60%);
}

.post-headings:hover .post-headings-link.h3 .post-headings-link-dot {
  border-radius: 0;
}

.post-headings-link-text {
  display: none;
}

.post-headings-link-text:hover {
  text-decoration: underline;
}

.post-headings:hover .post-headings-link-text {
  display: block;
}

.post-headings:hover .post-headings-link.h3 {
  margin-left: 1rem;
}
