:root {
  --c-primary: #00fff0;
  --c-bg: #111;
  --c-bg-light: #27282c;
  --c-bg-40: rgba(255, 255, 255, 0.4);
  --c-bg-10: rgba(255, 255, 255, 0.1);
  --c-bg-003: rgba(255, 255, 255, 0.03);
  --c-text: rgba(255, 255, 255, 1);
  --c-text-light: rgba(255, 255, 255, 0.6);
  --c-success: #00bb6b;
  --c-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);

  --ff-body: 'Inter', sans-serif;
  --ff-mono: 'JetBrains Mono', monospace;

  --fs-mini: 14px;
  --fs-body: 16px;
  --fs-large: 18px;
  --fs-4: 22px;
  --fs-2: 32px;
  --fs-1: 60px;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 800;

  --finger: 46px;
  --fade: 120ms;
  --radius: 6px;
  --radius-m: 16px;
  --gap: 24px;
  --demo-bubble-size: 40px;

  @media (--t) {
    --fs-body: 18px;
    --fs-large: 23px;
    --fs-4: 28px;
    --fs-2: 52px;
    --fs-1: 110px;

    --finger: 50px;
    --gap: 32px;
    --demo-bubble-size: 44px;
  }
}
