.container {
  z-index: 3;
  position: absolute;
  left: 16px;
  right: 16px;
  top: var(--gap);
  padding: var(--gap);
  background-color: var(--c-bg-light);
  border-radius: var(--radius-m);
  filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.8));
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.switchButton {
  color: var(--c-text-light) !important;
  padding: 0 !important;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(15px);
}

.menu {
  margin-top: 24px;

  a {
    width: 100%;
  }
}

.nav {
  margin-top: 24px;
  flex-direction: column;
  align-items: center;

  a {
    color: var(--c-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--finger);
  }

  a + a {
    margin-left: 0 !important;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
}
