.button {
  color: var(--c-text);
  background: var(--c-bg-light);
  border-radius: 99px;
  transition: var(--fade);
  padding: 0;

  &:hover,
  &:focus {
    color: var(--c-bg);
    background: var(--c-text);
  }
}
